<!DOCTYPE html>
<htmlxmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Index Page</title>
</head>
<body>
	<h1>Index Page</h1>

	<div sec:authorize="isAnonymous()">
	    <a href="/login">로그인</a>  <a href="/signup">회원가입</a>
	</div>
	<div sec:authorize="isAuthenticated()">
		<div>
		안녕하세요,<span sec:authentication="name"></span>님!
		 <form action="/logout" method="POST">
	        <button>로그아웃</button>
	    </form>
	    </div>
	    <div>
	    <a sec:authorize="hasRole('USER')" href="/user">유저 페이지</a>
	    <a sec:authorize="hasRole('MANAGER') or hasRole('admin')" href="/manager">유저 페이지</a>
	    <a sec:authorize="hasRole('ADMIN')" href="/admin">유저 페이지</a>
	    </div>
	    </form>
	</div>
</body>
</html>